@import './responsive'
@import './variables'

html, body
  padding: 0
  margin: 0
  max-width: 100vw
  overflow-x: hidden

.container
  max-width: 1400px
  padding: 60px
  margin: 0 auto
  position: relative
  +mobile
    padding: 0 20px

.section
  padding: 80px 20px

.background-gradient-yellow-light-to-dark
  background: linear-gradient(90deg, $light-yellow, $dark-yellow)

@mixin background-gradient-yellow-light-to-dark
  background: linear-gradient(90deg, $light-yellow, $dark-yellow)

.background-gradient-green-light-to-dark
  background: linear-gradient(90deg, $light-green, $dark-green)

@mixin background-gradient-green-light-to-dark
  background: linear-gradient(90deg, $light-green, $dark-green)
